---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="LUV - Responsive One Page HTML Wedding Template" >
  <meta name="author" content="www.dethemes.com">
  <title>LUV - Responsive One Page HTML Wedding Template</title>
  <link rel="icon" href="images/favicon.jpg">

  {% include styles.html %}

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50945301-2', 'dethemes.com');
  ga('send', 'pageview');

  </script>
</head>

<body>
  <!-- PRELOADER -->
  <!-- To change the couple name, edit jquery.queryloader2.js line 943  -->
  <div id="start_preloader"></div>

  <!-- STYLE SWITCHER -->
  <!-- <div id="style_switcher" >
    <a id="reset" href="index.html#"><span class="color_pallete"></span></a>
    <a id="pink" href="index.html#"><span class="color_pallete"></span></a>
    <a id="purple" href="index.html#"><span class="color_pallete"></span></a>
    <a id="brown" href="index.html#"><span class="color_pallete"></span></a>
    <a id="theme_options" href="index.html#"> <span class="glyphicon glyphicon-cog"></span></a>
  </div> -->

  {% include home.html %}

  {% include couple.html %}

  <!--PHOTO DIVIDER1 SECTION START-->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div id="photo_divider1" class="photo_divider">
        </div>
      </div>
    </div>
  </section><!--END of PHOTO DIVIDER1 SECTION-->

  {% include theday.html %}

  <!--PHOTO DIVIDER2 SECTION START-->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div id="photo_divider2" class="photo_divider">
        </div>
      </div>
    </div>
  </section><!--END of PHOTO DIVIDER2 SECTION-->

  {% include bridesmaid.html %}

  <!--PHOTO DIVIDER3 SECTION START-->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div id="photo_divider3" class="photo_divider">
        </div>
      </div>
    </div>
  </section><!--END of PHOTO DIVIDER3 SECTION-->

  {% include groomsmen.html %}

  <!--PHOTO DIVIDER4 SECTION START-->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div id="photo_divider4" class="photo_divider">
        </div>
      </div>
    </div>
  </section><!--END of PHOTO DIVIDER4 SECTION-->

  {% include photo.html %}

  <!--PHOTO DIVIDER5 SECTION START-->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div id="photo_divider5" class="photo_divider">
        </div>
      </div>
    </div>
  </section><!--END of PHOTO DIVIDER5 SECTION-->

  {% include photo2.html %}

  <!--PHOTO DIVIDER6 SECTION START-->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div id="photo_divider6" class="photo_divider">
        </div>
      </div>
    </div>
  </section><!--END of PHOTO DIVIDER6 SECTION-->

  {% include registry.html %}

  <!--PHOTO DIVIDER7 SECTION START-->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div id="photo_divider7" class="photo_divider">
        </div>
      </div>
    </div>
  </section><!--END of PHOTO DIVIDER7 SECTION-->

  {% include blog.html %}

  <!--PHOTO DIVIDER8 SECTION START-->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div id="photo_divider8" class="photo_divider">
        </div>
      </div>
    </div>
  </section><!--END of PHOTO DIVIDER8 SECTION-->

  {% include blog2.html %}

  <!--PHOTO DIVIDER9 SECTION START-->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div id="photo_divider9" class="photo_divider">
        </div>
      </div>
    </div>
  </section><!--END of PHOTO DIVIDER9 SECTION-->

  {% include rsvp.html %}

  <!--FOOTER SECTION START-->
  <section id="footer">
    <div class="container-fluid">
      <div class="row">
        <div id="footer_text" class="col-md-12 text-center">
          LUV Wedding Template. Photo Credit: <a href="https://www.flickr.com/photos/markjsebastian/" target="_blank" style="color:#999; text-decoration:underline">Mark Sebastian</a> and <a href="http://www.flickr.com/photos/51352098@N00/4261272615/" target="_blank" style="color:#999; text-decoration:underline">Caitlin Childs</a>
        </div>
      </div>
    </div>
  </section><!--END of FOOTER SECTION-->

  {% include scripts.html %}

</body>
</html>