<!--BLOG-2 SECTION START-->
<section>
  <div class="container">
    <!-- TITLE -->
    <div class="row">
      <div id="blog2_title" class="col-md-12 text-center the_title animation fadeInUp">
        <h2 class="margin0 padding0">BLOG-2</h2>
        <span class="margin0 padding0 sub_title">OTHER NEWS</span>
      </div>
      <div class="col-md-offset-1"></div>
      <div id="blog2_intro" class="col-md-10 col-md-offset-1 text-center animation delay1 fadeInUp">
        <span class="glyphicon glyphicon-heart intro_heart"></span>
        <span class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus.</span>
      </div>
    </div><!-- END TITLE -->

    <!-- BLOG2 -->
    <div class="row">
      <div class="col-md-12">

        <div class="masonry" id="blog2">

          <!-- MASONRY GRID SIZER -->
          <div class="grid_sizer_blog"></div>

          <!-- BLOG ITEM -->
          <div class="masonry_col_blog animation fadeIn">
            <div class="photo_item">
              <div class="photo_item_preview">
                <a href="index.html#">
                  <img src="images/blog4.jpg" alt="">
                </a>
                <div class="photo_item_overlay">
                  <a href="index.html#">
                    <span class="icon_background"></span>
                    <span class="glyphicon glyphicon-link icon_button"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class="blog_wrapper">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="margin0 padding0"><a href="index.html#">ALL ABOUT HER</a></h4>
                  <span class="blog_info">by <a href="index.html#">Admin</a>&nbsp;&nbsp;September 12, 2014&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.html#">Wedding</a></span>
                </div>
              </div>
              <div class="row blog_text">
                <div class="col-md-12">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus. Nunc nec scelerisque arcu.
                  </p>
                </div>
              </div>
            </div>
          </div><!-- END of BLOG ITEM -->

          <!-- BLOG ITEM -->
          <div class="masonry_col_blog animation fadeIn">
            <div class="photo_item">
              <div class="photo_item_preview">
                <a href="index.html#">
                  <img src="images/gallery2/thumb/gallery2_thumb1.jpg" alt="">
                </a>
                <div class="photo_item_overlay">
                  <a href="index.html#">
                    <span class="icon_background"></span>
                    <span class="glyphicon glyphicon-zoom-in icon_button"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class="blog_wrapper">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="margin0 padding0"><a href="index.html#">KISS, HUG, LOVE</a></h4>
                  <span class="blog_info">by <a href="index.html#">Admin</a>&nbsp;&nbsp;September 09, 2014&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.html#">Wedding</a></span>
                </div>
              </div>
              <div class="row blog_text">
                <div class="col-md-12">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus. Nunc nec scelerisque arcu. id consequat lacus. Phasellus nec mi eu arcu consectetur pretium.
                  </p>
                </div>
              </div>
            </div>
          </div><!-- END of BLOG ITEM -->

          <!-- BLOG ITEM -->
          <div class="masonry_col_blog animation fadeIn">
            <div class="photo_item">
              <div class="photo_item_preview">
                <a href="index.html#">
                  <img src="images/blog2.jpg" alt="">
                </a>
                <div class="photo_item_overlay">
                  <a href="index.html#">
                    <span class="icon_background"></span>
                    <span class="glyphicon glyphicon-play icon_button"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class="blog_wrapper">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="margin0 padding0"><a href="index.html#">LOVE, LOVE AND LOVE PARTY</a></h4>
                  <span class="blog_info">by <a href="index.html#">Admin</a>&nbsp;&nbsp;September 01, 2014&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.html#">Wedding</a></span>
                </div>
              </div>
              <div class="row blog_text">
                <div class="col-md-12">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus. Nunc nec scelerisque arcu. id consequat lacus. Phasellus nec mi eu arcu consectetur pretium.
                  </p>
                </div>
              </div>
            </div>
          </div><!-- END of BLOG ITEM -->

          <!-- BLOG ITEM -->
          <div class="masonry_col_blog animation fadeIn">
            <div class="blog_wrapper">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="margin0 padding0"><a href="index.html#">THE COMMENT</a></h4>
                  <span class="blog_info">by <a href="index.html#">Admin</a>&nbsp;&nbsp;August 29, 2014&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.html#">Wedding</a></span>
                </div>
              </div>
              <div class="row blog_text">
                <div class="col-md-12">
                  <p>
                    <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl.</i>
                  </p>
                </div>
              </div>
            </div>
          </div><!-- END of BLOG ITEM -->

          <!-- BLOG ITEM -->
          <div class="masonry_col_blog animation fadeIn">
            <div class="photo_item">
              <div class="photo_item_preview">
                <a href="index.html#">
                  <img src="images/gallery/gallery_photo2.jpg" alt="">
                </a>
                <div class="photo_item_overlay">
                  <a href="index.html#">
                    <span class="icon_background"></span>
                    <span class="glyphicon glyphicon-zoom-in icon_button"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class="blog_wrapper">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="margin0 padding0"><a href="index.html#">THE CEREMONY</a></h4>
                  <span class="blog_info">by <a href="index.html#">Admin</a>&nbsp;&nbsp;August 12, 2014&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.html#">Wedding</a></span>
                </div>
              </div>
              <div class="row blog_text">
                <div class="col-md-12">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus. Nunc nec scelerisque arcu. id consequat lacus. Phasellus nec mi eu arcu consectetur pretium. Donec placerat vitae sem eu placerat.
                  </p>
                </div>
              </div>
            </div>
          </div><!-- END of BLOG ITEM -->

          <!-- BLOG ITEM -->
          <div class="masonry_col_blog w2 animation fadeIn">
            <div class="photo_item">
              <div class="photo_item_preview">
                <a href="index.html#">
                  <img src="images/gallery/gallery_photo3.jpg" alt="">
                </a>
                <div class="photo_item_overlay">
                  <a href="index.html#">
                    <span class="icon_background"></span>
                    <span class="glyphicon glyphicon-picture icon_button"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class="blog_wrapper">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="margin0 padding0"><a href="index.html#">THE PHOTO SHOOT</a></h4>
                  <span class="blog_info">by <a href="index.html#">Admin</a>&nbsp;&nbsp;August 11, 2014&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.html#">Wedding</a></span>
                </div>
              </div>
              <div class="row blog_text">
                <div class="col-md-12">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus. Nunc nec scelerisque arcu. id consequat lacus.
                  </p>
                </div>
              </div>
            </div>
          </div><!-- END of BLOG ITEM -->

          <!-- BLOG ITEM -->
          <div class="masonry_col_blog animation fadeIn">
            <div class="photo_item">
              <div class="photo_item_preview">
                <a href="index.html#">
                  <img src="images/gallery2/thumb/gallery2_thumb3.jpg" alt="">
                </a>
                <div class="photo_item_overlay">
                  <a href="index.html#">
                    <span class="icon_background"></span>
                    <span class="glyphicon glyphicon-zoom-in icon_button"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class="blog_wrapper">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="margin0 padding0"><a href="index.html#">HANDSOME GROOMSMEN</a></h4>
                  <span class="blog_info">by <a href="index.html#">Admin</a>&nbsp;&nbsp;August 10, 2014&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.html#">Wedding</a></span>
                </div>
              </div>
              <div class="row blog_text">
                <div class="col-md-12">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus. Nunc nec scelerisque arcu. id consequat lacus.  Ut id sem nec mauris lacinia rhoncus. 
                  </p>
                </div>
              </div>
            </div>
          </div><!-- END of BLOG ITEM -->                            

          <!-- BLOG ITEM -->
          <div class="masonry_col_blog animation fadeIn">
            <div class="blog_wrapper">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="margin0 padding0"><a href="index.html#">ANOTHER COMMENT</a></h4>
                  <span class="blog_info">by <a href="index.html#">Admin</a>&nbsp;&nbsp;August 05, 2014&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.html#">Wedding</a></span>
                </div>
              </div>
              <div class="row blog_text">
                <div class="col-md-12">
                  <p>
                    <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus. Nunc nec scelerisque arcu. id consequat lacus.</i>
                  </p>
                </div>
              </div>
            </div>                                
          </div><!-- END of BLOG ITEM -->

          <!-- BLOG ITEM -->
          <div class="masonry_col_blog animation fadeIn">
            <div class="photo_item">
              <div class="photo_item_preview">
                <a href="index.html#">
                  <img src="images/gallery/gallery_photo8.jpg" alt="">
                </a>
                <div class="photo_item_overlay">
                  <a href="index.html#">
                    <span class="icon_background"></span>
                    <span class="glyphicon glyphicon-zoom-in icon_button"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class="blog_wrapper">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="margin0 padding0"><a href="index.html#">HAPPY PARTY</a></h4>
                  <span class="blog_info">by <a href="index.html#">Admin</a>&nbsp;&nbsp;August 01, 2014&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.html#">Wedding</a></span>
                </div>
              </div>
              <div class="row blog_text">
                <div class="col-md-12">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus.
                  </p>
                  <p>
                    Nunc nec scelerisque arcu, id consequat lacus. Phasellus nec mi eu arcu consectetur pretium. Donec placerat vitae sem eu placerat. Nullam laoreet lobortis orci, non feugiat justo sollicitudin non. Duis dapibus orci eu risus ultricies, quis elementum dolor tempor.
                  </p>
                </div>
              </div>
            </div>
          </div><!-- END of BLOG ITEM -->   

          <!-- BLOG ITEM -->
          <div class="masonry_col_blog animation fadeIn">
            <div class="photo_item">
              <div class="photo_item_preview">
                <a href="index.html#">
                  <img src="images/gallery2/thumb/gallery2_thumb2.jpg" alt="">
                </a>
                <div class="photo_item_overlay">
                  <a href="index.html#">
                    <span class="icon_background"></span>
                    <span class="glyphicon glyphicon-play icon_button"></span>
                  </a>
                </div>
              </div>
            </div>
          </div><!-- END of BLOG ITEM -->



        </div><!--END of MASONRY--> 
      </div><!--END of BLOG2 COL-->    
    </div><!--END of BLOG2 ROW-->

    <!-- LOAD MORE BLOG-->
    <div class="row">
      <div class="col-md-12 text-center">
        <span id="loading_more">Loading...</span>
        <a href="index.html#" id="blogmore" class="btn btn-default btn-lg">Load More</a>
      </div>
    </div><!--END of LOAD MORE BLOG-->                

  </div><!--END of CONTAINER-->
</section><!--END of BLOG-2 SECTION-->