<!--BLOG SECTION START-->
<section id="blog">
  <div class="container">
    <!-- TITLE -->
    <div class="row">
      <div id="blog1_title" class="col-md-12 text-center the_title animation fadeInUp">
        <h2 class="margin0 padding0">BLOG-1</h2>
        <span class="margin0 padding0 sub_title">OTHER NEWS</span>
      </div>
      <div class="col-md-offset-1"></div>
      <div id="blog1_intro" class="col-md-10 col-md-offset-1 text-center animation delay1 fadeInUp">
        <span class="glyphicon glyphicon-heart intro_heart"></span>
        <span class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus.</span>
      </div>
    </div><!-- END TITLE -->

    <!-- BLOG -->
    <div class="row">
      <div class="col-md-6 animation delay1 fadeInLeft marginbottom50">                     
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/blog1.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="blog/blog1.html" class="popup">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="blog_wrapper">
          <div class="row">
            <div class="col-md-12">
              <h4 class="margin0 padding0"><a href="index.html#">OUR LOVE STORY</a></h4>
              <span class="blog_info">by <a href="index.html#">Admin</a>&nbsp;&nbsp;September 12, 2014&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.html#">Wedding</a></span>
            </div>
          </div>
          <div class="row blog_text">
            <div class="col-md-12">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus.                                  
              </p>
            </div>
          </div>
        </div>                        
      </div> 

      <div class="col-md-6 animation delay1 fadeInRight marginbottom50">                      
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/blog2.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="blog_wrapper">
          <div class="row">
            <div class="col-md-12">
              <h4 class="margin0 padding0"><a href="index.html#">LOVE, LOVE AND LOVE PARTY</a></h4>
              <span class="blog_info">by <a href="index.html#">Admin</a>&nbsp;&nbsp;September 08, 2014&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.html#">Wedding</a></span>
            </div>
          </div>
          <div class="row blog_text">
            <div class="col-md-12">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus.
              </p>
            </div>
          </div>
        </div>                        
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 animation delay1 fadeInLeft marginbottom50">                     
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/blog3.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="blog_wrapper">
          <div class="row">
            <div class="col-md-12">
              <h4 class="margin0 padding0"><a href="index.html#">THE SPECIAL DAY</a></h4>
              <span class="blog_info">by <a href="index.html#">Admin</a>&nbsp;&nbsp;August 10, 2014&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.html#">Wedding</a></span>
            </div>
          </div>
          <div class="row blog_text">
            <div class="col-md-12">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus.
              </p>
            </div>
          </div>
        </div>                        
      </div> 

      <div class="col-md-6 animation delay1 fadeInRight marginbottom50">                      
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/blog4.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="blog_wrapper">
          <div class="row">
            <div class="col-md-12">
              <h4 class="margin0 padding0"><a href="index.html#">ALL ABOUT HER</a></h4>
              <span class="blog_info">by <a href="index.html#">Admin</a>&nbsp;&nbsp;August 03, 2014&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.html#">Wedding</a></span>
            </div>
          </div>
          <div class="row blog_text">
            <div class="col-md-12">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus.
              </p>
            </div>
          </div>
        </div>                        
      </div>
    </div>

  </div>
</section><!--END of BLOG SECTION-->