<!--BRIDESMAID SECTION START-->
<section id="bridesmaid">
  <div class="container">
    <!-- TITLE -->
    <div class="row">
      <div id="bridesmaid_title" class="col-md-12 text-center the_title animation fadeInUp">
        <h2 class="margin0 padding0">BRIDESMAID</h2>
        <span class="margin0 padding0 sub_title">PRETTY FRIENDS</span>
      </div>
      <div class="col-md-offset-1"></div>
      <div id="bridesmaid_intro" class="col-md-10 col-md-offset-1 text-center animation delay1 fadeInUp">
        <span class="glyphicon glyphicon-heart intro_heart"></span>
        <span class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus.</span>
      </div>
    </div><!-- END TITLE -->

    <!-- BRIDESMAID ROW -->
    <div class="row">
      <div class="col-md-4 col-sm-6 photo_col animation fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/bridesmaid1.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center name_wrapper">
          <h4 class="margin0 padding0">EMMA GRACE</h4>
          <p>Maid of Honor</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 photo_col animation delay1 fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/bridesmaid2.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center name_wrapper">
          <h4 class="margin0 padding0">AUDREY AMELIA</h4>
          <p>Best Friend</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 photo_col animation delay2 fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/bridesmaid3.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center name_wrapper">
          <h4 class="margin0 padding0">ABIGAIL CHLOE</h4>
          <p>Room Mate</p>
        </div>
      </div>           

      <div class="col-md-4 col-sm-6 photo_col animation fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/bridesmaid4.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center name_wrapper">
          <h4 class="margin0 padding0">CLARA NATALIE</h4>
          <p>College Friend</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 photo_col animation delay1 fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/bridesmaid5.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center name_wrapper">
          <h4 class="margin0 padding0">ALICE STELLA</h4>
          <p>Sister</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 photo_col animation delay2 fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/bridesmaid6.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center name_wrapper">
          <h4 class="margin0 padding0">LUCY EVELYN</h4>
          <p>Future Sister in Law</p>
        </div>
      </div>

    </div><!-- END BRIDESMAID ROW-->
  </div>
</section><!--END of BRIDESMAID SECTION-->