<!--COUPLE SECTION START-->
<section id="couple">
  <div class="container">
    <!-- TITLE -->
    <div class="row">
      <div id="wedding_title" class="col-md-12 text-center the_title animation fadeInUp">
        <h2 class="margin0 padding0">FIRST COME LOVE</h2>
        <span class="margin0 padding0 sub_title">NOW COME MARRIAGE</span>
      </div>
      <div class="col-md-offset-1"></div>
      <div id="wedding_intro" class="col-md-10 col-md-offset-1 text-center animation delay1 fadeInUp">
        <span class="glyphicon glyphicon-heart intro_heart"></span>
        <span class="intro">Come celebrate with us as we tie the knot, as we stand together with sweaty hands & open hearts extending our friendship to include the vows of marriage. Festivities will begin with dinner, dancing, and happily-ever-afters to follow.</span>
      </div>
    </div><!-- END TITLE -->

    <div class="row">
      <!-- HIS PROFILE -->
      <div id="his_profile" class="col-md-6 animation delay1 fadeInLeft">                     
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/him.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a class="popup" href="him.html">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="profile">
          <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10">
              <h3 class="margin0 padding0">GERRARD</h3>
              <span class="margin0 padding0 subname">LEANDRO</span>
            </div>
            <div id="male_icon" class="col-md-2 col-sm-2 col-xs-2">
              <img src="images/male_icon.png" alt="">
            </div>
          </div>
          <div class="row profile_text">
            <div class="col-md-12">
              <p>
                The minute I heard my first love story. I started looking for you, not knowin how blind that was. Lovers don't finally meet somewhere. They're in each other all along. I love you, not only for what you are, but for what I am when I am with you. I love you, not only for what you have made of yourself but for what you are making of me.
                <a class="popup" href="him.html">.....</a>                                    
              </p>
            </div>
          </div>
        </div>                        
      </div> <!-- END OF HIS PROFILE -->

      <!-- HER PROFILE -->
      <div id="her_profile" class="col-md-6 animation delay1 fadeInRight">                      
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/her.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a class="popup" href="her.html">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="profile">
          <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10">
              <h3 class="margin0 padding0">DIANNE</h3>
              <span class="margin0 padding0 subname">ANNA</span>
            </div>
            <div id="female_icon" class="col-md-2 col-sm-2 col-xs-2">
              <img src="images/female_icon.png" alt="">
            </div>
          </div>
          <div class="row profile_text">
            <div class="col-md-12">
              <p>
                When you realize you want to spend the rest of your life with somebody, you want the rest of your life to start as soon as possible. I would rather share one lifetime with you than face all the ages of this world alone. You have made a place in my heart where I thought there was no room for anything else.
                <a class="popup" href="her.html">.....</a> 
              </p>
            </div>
          </div>
        </div>                        
      </div> <!-- END OF HER PROFILE -->                                        
    </div>
  </div>            
</section><!--END of COUPLE SECTION-->