<!--GROOMSMEN SECTION START-->
<section id="groomsmen">
  <div class="container">
    <!-- TITLE -->
    <div class="row">
      <div id="groomsmen_title" class="col-md-12 text-center the_title animation fadeInUp">
        <h2 class="margin0 padding0">GROOMSMEN</h2>
        <span class="margin0 padding0 sub_title">HANDSOME FRIENDS</span>
      </div>
      <div class="col-md-offset-1"></div>
      <div id="groomsmen_intro" class="col-md-10 col-md-offset-1 text-center animation delay1 fadeInUp">
        <span class="glyphicon glyphicon-heart intro_heart"></span>
        <span class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus.</span>
      </div>
    </div><!-- END TITLE -->

    <!-- GROOMSMEN ROW -->
    <div class="row">
      <div class="col-md-4 col-sm-6 photo_col animation fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/groomsmen1.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center name_wrapper">
          <h4 class="margin0 padding0">JAMES NATHAN</h4>
          <p>Best Men</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 photo_col animation delay1 fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/groomsmen2.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center name_wrapper">
          <h4 class="margin0 padding0">JACOB</h4>
          <p>Best Friend</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 photo_col animation delay2 fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/groomsmen3.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center name_wrapper">
          <h4 class="margin0 padding0">EHTAN HENRY</h4>
          <p>Room Mate</p>
        </div>
      </div>                

      <div class="col-md-4 col-sm-6 photo_col animation fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/groomsmen4.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center name_wrapper">
          <h4 class="margin0 padding0">WILLIAM CHLOE</h4>
          <p>Brother</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 photo_col animation delay1 fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/groomsmen5.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center name_wrapper">
          <h4 class="margin0 padding0">SAMUEL LUKE</h4>
          <p>College Friend</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 photo_col animation delay2 fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/groomsmen6.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center name_wrapper">
          <h4 class="margin0 padding0">HUDSON</h4>
          <p>College Friend</p>
        </div>
      </div>
    </div><!-- END GROOMSMEN ROW-->
  </div>
</section><!--END of GROOMSMEN SECTION--> 