<!--GALLERY-1 SECTION START-->
<section id="gallery">
  <div class="container">
    <!-- TITLE -->
    <div class="row">
      <div id="gallery1_title" class="col-md-12 text-center the_title animation fadeInUp">
        <h2 class="margin0 padding0">PHOTO GALLERY</h2>
        <span class="margin0 padding0 sub_title">OUR MOMENT</span>
      </div>
      <div class="col-md-offset-1"></div>
      <div id="gallery1_intro" class="col-md-10 col-md-offset-1 text-center animation delay1 fadeInUp">
        <span class="glyphicon glyphicon-heart intro_heart"></span>
        <span class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus.</span>
      </div>
    </div><!-- END TITLE -->

    <!-- GALLERY ROW1 -->
    <div class="row">
      <div class="col-md-6 photo_col animation fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/gallery1.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#" id="category1">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
              <div class="photo_caption_wrapper">
                <span class="photo_caption delay1 fadeInUp">WEDDING DAY</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 photo_col animation delay1 fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/gallery2.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#" id="category2">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
              <div class="photo_caption_wrapper">
                <span class="photo_caption delay1 fadeInUp">THE PARTY</span>
              </div>
            </div>                                
          </div>
        </div>
      </div>
    </div>

    <!-- GALLERY ROW2 -->
    <div class="row">
      <div class="col-md-6 photo_col animation fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/gallery3.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#" id="category3">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
              <div class="photo_caption_wrapper">
                <span class="photo_caption delay1 fadeInUp">GREAT FRIENDS</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 photo_col animation delay1 fadeIn">
        <div class="photo_item">
          <div class="photo_item_preview">
            <a href="index.html#">
              <img src="images/gallery4.jpg" alt="">
            </a>
            <div class="photo_item_overlay">
              <a href="index.html#" id="category4">
                <span class="icon_background"></span>
                <span class="glyphicon glyphicon-zoom-in icon_button"></span>
              </a>
              <div class="photo_caption_wrapper">
                <span class="photo_caption delay1 fadeInUp">LOVELY FAMILY</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--END of GALLERY-1 SECTION-->     