<!--REGISTRY SECTION START-->
<section id="registry">
  <div class="container">
    <!-- TITLE -->
    <div class="row">
      <div id="registry_title" class="col-md-12 text-center the_title animation fadeInUp">
        <h2 class="margin0 padding0">GIFT REGISTRY</h2>
        <span class="margin0 padding0 sub_title">THANK YOU</span>
      </div>
      <div class="col-md-offset-1"></div>
      <div id="registry_intro" class="col-md-10 col-md-offset-1 text-center animation delay1 fadeInUp">
        <span class="glyphicon glyphicon-heart intro_heart"></span>
        <span class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus.</span>
      </div>
    </div><!-- END TITLE -->  
    <!-- LOGO SLIDE -->
    <div class="row">
      <div class="col-md-12 animation fadeInUp">
        <div id="registry_logo" class="owl-carousel">
          <div class="item"> <a href="index.html#"> <img src="images/macys.png" alt=""> </a> </div>
          <div class="item"> <a href="index.html#"> <img src="images/belk.png" alt=""> </a> </div>
          <div class="item"> <a href="index.html#"> <img src="images/johnlewis.png" alt=""> </a> </div>
          <div class="item"> <a href="index.html#"> <img src="images/bedbathbeyond.png" alt=""> </a> </div>
          <div class="item"> <a href="index.html#"> <img src="images/amazon.png" alt=""> </a> </div>
        </div>
      </div>
    </div><!-- END of LOGO SLIDE -->  
  </div>          
</section><!--END of REGISTRY SECTION-->