<!--RSVP SECTION START-->
<section id="rsvp">
  <div class="container">
    <!-- TITLE -->
    <div class="row">
      <div id="rsvp_title" class="col-md-12 text-center the_title animation fadeInUp">
        <h2 class="margin0 padding0">RSVP</h2>
        <span class="margin0 padding0 sub_title">JOIN OUR PARTY</span>
      </div>
      <div class="col-md-offset-1"></div>
      <div id="rsvp_intro" class="col-md-10 col-md-offset-1 text-center animation delay1 fadeInUp">
        <span class="glyphicon glyphicon-heart intro_heart"></span>
        <span class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus.</span>
      </div>
    </div><!-- END TITLE -->
    <!-- FORM -->
    <div class="row">
      <div id="result" class="col-md-12"> <!-- Show Message --> </div>

      <form method="post" action="http://demo.dethemes.com/luv/rsvp.php" id="rsvpform">
        <div class="col-md-6">
          <div id="fullname" class="form-group">
            <label for="inputname">*NAME</label>
            <input type="text" class="form-control" id="inputname" placeholder="">
          </div>
          <div id="email" class="form-group">
            <label for="inputemail">*EMAIL ADDRESS</label>
            <input type="email" class="form-control" id="inputemail" placeholder="">
          </div>
          <div id="events" class="form-group">
            <label for="inputevents">*I'LL ATTEND TO</label>
            <select  multiple id="inputevents" class="form-control">
              <option>Wedding Day</option>
              <option>Ceremony Day</option>
              <option>The Party</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="inputmessage">LEAVE YOUR MESSAGE</label>
            <textarea id="inputmessage" class="form-control" rows="11"></textarea>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="form-group">
            <input type="submit" id="submitButton"  name="submitButton" class="btn btn-default btn-lg" value="Submit">
          </div> 
        </div>
      </form>

    </div>
  </div>
</section><!--END of RSVP SECTION-->