<!-- jQuery -->
<script src="js/jquery-1.9.1.js"></script>
<!-- Device -->
<script type="text/javascript" src="js/devicejs/device.min.js"></script>
<!-- Preloader -->
<script type="text/javascript" src="js/preloader/jquery.queryloader2.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap/bootstrap.js"></script>        
<!-- Supersized -->
<script type="text/javascript" src="js/supersized/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/supersized/supersized.3.2.7.min.js"></script>
<script type="text/javascript" src="js/supersized/supersized.shutter.min.js"></script>
<!-- Sticky -->
<script type="text/javascript" src="js/sticky/jquery.sticky.js"></script>
<!-- One Page Nav -->
<script type="text/javascript" src="js/navjs/jquery.nav.js"></script>
<!-- NiceScroll -->
<script type="text/javascript" src="js/nicescroll/jquery.nicescroll.min.js"></script>
<!-- Waypoint -->
<script type="text/javascript" src="js/waypoint/waypoints.min.js"></script>
<!-- Gmap -->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/gmap/jquery.gmap.min.js"></script>
<!-- Magnific Popup -->
<script type="text/javascript" src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Masonry -->
<script type="text/javascript" src="js/masonry/masonry.pkgd.min.js"></script>
<!-- Owl Carousel -->
<script type="text/javascript" src="js/owlcarousel/owl.carousel.js"></script>
<!-- RSVP -->
<script type="text/javascript" src="js/rsvp.js"></script>
<!-- Style Switcher -->
<script type="text/javascript" src="js/style-swithcer/stylesheet-switcher.js"></script>
<!-- Custom Script -->
<script type="text/javascript" src="js/script.js"></script>