<!--THE DAY SECTION START-->
<section id="the_day">
  <div class="container">
    <!-- TITLE -->
    <div class="row">
      <div id="where_when_title" class="col-md-12 text-center the_title animation fadeInUp">
        <h2 class="margin0 padding0">WHERE AND WHEN</h2>
        <span class="margin0 padding0 sub_title">OF THE MARRIAGE</span>
      </div>
      <div class="col-md-offset-1"></div>
      <div id="where_when_intro" class="col-md-10 col-md-offset-1 text-center animation delay1 fadeInUp">
        <span class="glyphicon glyphicon-heart intro_heart"></span>
        <span class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus, leo at pretium commodo, dui ipsum tristique dolor, in ullamcorper tellus velit quis nisl. In placerat volutpat elit quis dictum. Ut id sem nec mauris lacinia rhoncus.</span>
      </div>
    </div><!-- END TITLE -->

    <!-- LOCATION, DATE&TIME, ACCOMODATION-->
    <div class="row">
      <div class="col-md-4">
        <div id="location" class="box animation fadeInLeft">
          <div>
            <span class="glyphicon glyphicon-map-marker box_icon"></span>
            <span class="box_title">DATE & LOCATION</span>
          </div>
          <div class="box_text">
            <p>It will be held on <strong> Saturday October 30,2010</strong> at <strong>Manalia Tower, Anfix Street ST01</strong>. Check the map to get the direction.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="date_time" class="box animation delay1 fadeInUp">
          <div>
            <span class="glyphicon glyphicon-time box_icon"></span>
            <span class="box_title">TIME</span>
          </div>
          <div class="box_text">
            <p>It will start at <strong> Five O'Clock in the evenings</strong>. Dinner + dancing to follow. Costumes & creative attire highly encouraged. </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="accomodation" class="box animation delay2 fadeInRight">
          <div>
            <span class="glyphicon glyphicon-home box_icon"></span>
            <span class="box_title">ACCOMODATION</span>
          </div>
          <div class="box_text">
            <p>We have arranged accommodations at a nearby <strong>Comfort Inn</strong> for guests who are making a bit of a trip.</p>
          </div>
        </div>
      </div>
    </div><!-- END OF LOCATION -->

    <!-- MAP -->
    <div class="row">
      <div class="col-md-12">
        <div id="location_map" class="animation fadeInUp"></div>
      </div>
    </div><!-- END OF MAP-->

  </div>
</section><!--END of THE DAY SECTION-->